<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vibame.telugupanchangamcalendar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <queries>

        <!-- List of apps which you want to support for Intent pay -->
        <package android:name="com.google.android.apps.nbu.paisa.user" />
        <package android:name="com.phonepe.app" />
        <!--
             Specific intents you query for,
             eg: for a custom share UI
        -->
        <intent>
            <action android:name="android.intent.action.SEND" />
        </intent>
    </queries>

    <application
        android:name=".helper.ApiConfig"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">
        <activity
            android:name=".NotificationActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.vibame.telugupanchangamcalendar.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".activities.LiveDharsanamActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".NewOldArticleActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".NewArticleActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".DataLoadingActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Monthlypanchangam1Activity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Dailypanchangam1Activity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Dailypanchangam2Activity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MontlyActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".DailyActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.ImageViewActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.NewBakthiMusicActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".GrahaluActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".GrahanamActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MoudyaDinamuluActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AbdhikamActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".BhargavaPanchangamActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MuhurthamActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ShastiVrustiActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".SissuJanmaActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MontliHoroscopeActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".WeeklyHoroscopeActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".HoroscopeListActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".YearlyHoroscopeActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".HoroscopeDetailsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".DailyHoroscopeActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ImpoetantDaysActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".HolidaysActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/slide_out_left" />

        <activity
            android:name=".MonthlyPanchangam"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".DailyPanchangamActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.CalendarNewActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".RasiphaluluActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MuhurthamActivity"
            android:exported="false" />
        <activity
            android:name=".activities.FestivalActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SmartToolsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PrivacyPolicyActivity"
            android:exported="false" />
        <activity
            android:name=".activities.FeedBackActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MoreTeluguSamskruthamActivity"
            android:exported="false" />
        <activity
            android:name=".activities.NewCalendarActivity"
            android:exported="true" />
        <activity
            android:name=".activities.SelectTimezonesActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".activities.TimeZoneActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".activities.NoteEditorActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.CounterActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".HeightWeightChartsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".TeluguKeyboardActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".InternetSpeedMeterActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".IfscActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".UnitConvertedActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.NumbertoWordsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ConvertActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SpeechtoTextActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DateplusActivity"
            android:exported="false" />
        <activity
            android:name=".activities.StopWatchActivity"
            android:exported="false" />
        <activity
            android:name=".activities.NotesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PercentageCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CoinTossActivity"
            android:exported="false" />
        <activity
            android:name=".activities.TextToSpeechActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MileageCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".activities.WorldClockActivity"
            android:exported="false" />
        <activity
            android:name=".activities.TrackerActivity"
            android:exported="false" />
        <activity
            android:name=".activities.GstCalulatorActivity"
            android:exported="false" />
        <activity
            android:name=".activities.EMICalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CompoundInterestActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SimpleInterestActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.CompassActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.ArticleViewActivity"
            android:exported="false" />
        <activity
            android:name=".activities.OldArticlesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.NetiArticlesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RamayamSubMenuActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RamyanamMenuActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RamayanamActivity"
            android:exported="false" />
        <activity
            android:name=".activities.FruitNamesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.KolathaluActivity"
            android:exported="false" />
        <activity
            android:name=".activities.KulaVurthaActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LagnaluActivity"
            android:exported="false" />
        <activity
            android:name=".activities.NavaGrahaluActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PakahamuluActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PrasadhamNamesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PushapaluActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RuthuvuluActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ThidhiAdhiActivity"
            android:exported="false" />
        <activity
            android:name=".activities.WeekNamesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AksharaluActivity"
            android:exported="false" />
        <activity
            android:name=".activities.GunintaluActivity"
            android:exported="false" />
        <activity
            android:name=".AnkeluActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MonthActivity"
            android:exported="false" />
        <activity
            android:name=".activities.TeluguYearActivity"
            android:exported="false" />
        <activity
            android:name=".activities.KukutaSaathramActivity"
            android:exported="false" />
        <activity
            android:name=".activities.BalliSasthramActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.PilliSasthramActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.KakiActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".SakunaluActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.YogamActivity"
            android:exported="false" />
        <activity
            android:name=".activities.JanaPadhaActivity"
            android:exported="false" />
        <activity
            android:name=".activities.KaranamActivity"
            android:exported="false" />
        <activity
            android:name=".activities.HoraChakramActivity"
            android:exported="false" />
        <activity
            android:name=".RahukalamActivity"
            android:exported="false" />
        <activity
            android:name=".GowriPanchangamActivity"
            android:exported="false" />
        <activity
            android:name=".ThidhiluActivity"
            android:exported="false" />
        <activity
            android:name=".PlayVideoActivity"
            android:exported="false" />
        <activity
            android:name=".VideosActivity"
            android:exported="false" />
        <activity
            android:name=".TrendingVideosActivity"
            android:exported="false" />
        <activity
            android:name=".VideoTabActivity"
            android:exported="false" />
        <activity
            android:name=".ImagesActivity"
            android:exported="false" />
        <activity
            android:name=".TrendingImageActivity"
            android:exported="false" />
        <activity
            android:name=".ImageTabActivity"
            android:exported="false" />
        <activity
            android:name=".activities.NakshathraluTabActivity"
            android:exported="false" />
        <activity
            android:name=".AudioPlayActivity"
            android:exported="false" />
        <activity
            android:name=".AudioLiveActivity"
            android:exported="false" />
        <activity
            android:name=".VideoLiveActivity"
            android:exported="false" />
        <activity
            android:name=".activities.NakshathraluActivity"
            android:exported="false" />
        <activity
            android:name=".activities.GrahaluTabActivity"
            android:exported="false" />
        <activity
            android:name=".activities.GrahaluSubMenuActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PoojaluTabActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PoojaluSubMenuActivity"
            android:exported="false" />
        <activity
            android:name=".HoroscopeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RashuluActivity"
            android:exported="false" />
        <activity
            android:name=".RaasiDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MuhurthamtabActivity"
            android:exported="false" />
        <activity
            android:name=".TestActivity"
            android:exported="true" />
        <activity
            android:name=".HomeActivity"
            android:exported="true" />
        <activity
            android:name=".activities.PanchangamActivity"
            android:exported="false" /> <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".Notification_Receiver" />
    </application>

</manifest>