<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vibame.telugupanchangamcalendar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <queries>

        <!-- List of apps which you want to support for Intent pay -->
        <package android:name="com.google.android.apps.nbu.paisa.user" />
        <package android:name="com.phonepe.app" />
        <!--
             Specific intents you query for,
             eg: for a custom share UI
        -->
        <intent>
            <action android:name="android.intent.action.SEND" />
        </intent>
    </queries>

    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".helper.ApiConfig"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activities.MahaBharadhamSukthuluActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.AboutMahaBharathamActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.MahaBharathamMenuActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.FruitNamesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.KolathaluActivity"
            android:exported="false" />
        <activity
            android:name=".activities.KulaVurthaActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LagnaluActivity"
            android:exported="false" />
        <activity
            android:name=".activities.NavaGrahaluActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PakahamuluActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PrasadhamNamesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PushapaluActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RuthuvuluActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ThidhiAdhiActivity"
            android:exported="false" />
        <activity
            android:name=".activities.WeekNamesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AksharaluActivity"
            android:exported="false" />
        <activity
            android:name=".activities.GunintaluActivity"
            android:exported="false" />
        <activity
            android:name=".AnkeluActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MonthActivity"
            android:exported="false" />
        <activity
            android:name=".activities.TeluguYearActivity"
            android:exported="false" />
        <activity
            android:name=".activities.KukutaSaathramActivity"
            android:exported="false" />
        <activity
            android:name=".activities.BalliSasthramActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.PilliSasthramActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.KakiActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".SakunaluActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.YogamActivity"
            android:exported="false" />
        <activity
            android:name=".activities.JanaPadhaActivity"
            android:exported="false" />
        <activity
            android:name=".activities.KaranamActivity"
            android:exported="false" />
        <activity
            android:name=".activities.HoraChakramActivity"
            android:exported="false" />
        <activity
            android:name=".RahukalamActivity"
            android:exported="false" />
        <activity
            android:name=".GowriPanchangamActivity"
            android:exported="false" />
        <activity
            android:name=".ThidhiluActivity"
            android:exported="false" />
        <activity
            android:name=".PlayVideoActivity"
            android:exported="false" />
        <activity
            android:name=".VideosActivity"
            android:exported="false" />
        <activity
            android:name=".TrendingVideosActivity"
            android:exported="false" />
        <activity
            android:name=".VideoTabActivity"
            android:exported="false" />
        <activity
            android:name=".ImagesActivity"
            android:exported="false" />
        <activity
            android:name=".TrendingImageActivity"
            android:exported="false" />
        <activity
            android:name=".ImageTabActivity"
            android:exported="false" />
        <activity
            android:name=".activities.NakshathraluTabActivity"
            android:exported="false" />
        <activity
            android:name=".AudioPlayActivity"
            android:exported="false" />
        <activity
            android:name=".AudioLiveActivity"
            android:exported="false" />
        <activity
            android:name=".VideoLiveActivity"
            android:exported="false" />
        <activity
            android:name=".activities.NakshathraluActivity"
            android:exported="false" />
        <activity
            android:name=".activities.GrahaluTabActivity"
            android:exported="false" />
        <activity
            android:name=".activities.GrahaluSubMenuActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PoojaluTabActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PoojaluSubMenuActivity"
            android:exported="false" />
        <activity
            android:name=".HoroscopeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RashuluActivity"
            android:exported="false" />
        <activity
            android:name=".RaasiDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MuhurthamtabActivity"
            android:exported="false" />
        <activity
            android:name=".TestActivity"
            android:exported="true" />
        <activity
            android:name=".HomeActivity"
            android:exported="true" />
        <activity
            android:name=".activities.PanchangamActivity"
            android:exported="false" /> <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <receiver android:name=".Notification_Receiver" />
    </application>

</manifest>